astroid==2.12.4
dill==0.3.5.1
flake8==5.0.4
flake8-for-pycharm==0.3.3
flake8-html==0.4.2
isort==5.10.1
Jinja2==3.1.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
platformdirs==2.5.2
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.13.0
pylint==2.15.0
tinydb==4.7.0
tomli==2.0.1
tomlkit==0.11.4
typing_extensions==4.3.0
wrapt==1.14.1
